<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form Input</title>
</head>
<body>
<h2>Form Input Mahasiswa</h2>

<form action="/submit-form" method="post">
    <div>
        <label>Nama:</label><br>
        <input type="text" name="nama" style="width: 300px;" required>
    </div>
    <br>
    <div>
        <label>NIM:</label><br>
        <input type="text" name="nim" style="width: 300px;" required>
    </div>
    <br>
    <div>
        <label>Jenis Kelamin:</label><br>
        <input type="radio" name="jenisKelamin" value="Laki-laki" required> Laki-laki<br>
        <input type="radio" name="jenisKelamin" value="Perempuan" required> Perempuan
    </div>
    <br>
    <button type="submit" style="background-color: dodgerblue; color: white; padding: 5px 15px; border: none;">Submit</button>
</form>
<br>
<a href="/home">Kembali ke Home</a>
</body>
</html>