<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<h2>MY Website 20230140068 (wahyu)</h2>
<p>Selamat datang di aplikasi!</p>

<a href="/form"><button>Input Data Mahasiswa</button></a>

<h3>Data Mahasiswa</h3>
<a href="/logout"><button>Logout</button></a>
<br><br>

<table border="1" cellpadding="10" cellspacing="0">
    <thead>
    <tr>
        <th>No</th>
        <th>Nama</th>
        <th>NIM</th>
        <th>Jenis Kelamin</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(userList)}">
        <td colspan="4" style="text-align: center;">Belum ada data</td>
    </tr>
    <tr th:each="user, iterStat : ${userList}">
        <td th:text="${iterStat.count}">1</td>
        <td th:text="${user.nama}">Nama</td>
        <td th:text="${user.nim}">NIM</td>
        <td th:text="${user.jenisKelamin}">Laki-laki</td>
    </tr>
    </tbody>
</table>
</body>
</html>